= label :event, :name, 'Event Title'
= text_field :event, 'name'

= label :event, :date, 'Event Date'
= date_select :event, :date

= label :event, :description, 'Event Description'
= text_field :event, 'description'
  
= label :event, :ingredients, 'Ingredients/Recipe'
= text_field :event, 'ingredients'
