-# This file is app/views/events/index.html.haml

%h2

- if current_user
  Signed in as
  = succeed "!" do
    %strong= current_user.name
  = link_to "Sign out", signout_path, id: "sign_out", :class => "link"
- else
  = link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", :class => "link"

  = yield

  
%h1= @title
= form_tag events_path, :method => :get, :id => 'search_form' , :class => "form" do
  %input{name: "search", value: @search}
  = submit_tag 'Search Event Titles'

= form_tag events_path, :method => :get, :id => 'date_range_form', :class => "form"  do
  %input{type: "date", required: true, name: "start", value: @start}
  %input{type: "date", required: true, name: "end", value: @end}
  = submit_tag 'Filter'

= form_tag events_path, :method => :get, :id => "sort_form", :class => "form" do
  Include:
  - @sort_options.each do |option|
    = option
    = check_box_tag "sort[#{option}]", 1, @sort.include?(option), :id => "option_#{option}"
  = submit_tag 'Sort', :id => "options_submit"

%table#events
  %thead
    %tr
      %th Event Title
      %th Date
      %th Ethnicity
      %th Dietary Restrictions
      %th Category
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to "#{event.name}", event_path(event), :class => "table_link"
        %td= event.date.strftime("%m/%d/%Y at %I:%M%p")
        %td= event.ethnicity.keys.to_s[/^\[(.*)\]$/, 1].gsub('_', ' ').delete '"'
        %td= event.dietary_restrictions.keys.to_s[/^\[(.*)\]$/, 1].gsub('_', ' ').delete '"'
        %td= event.category.keys.to_s[/^\[(.*)\]$/, 1].gsub('_', ' ').delete '"'

    = link_to 'Create new event', new_event_path , :class => "link"


