-# This file is app/views/events/index.html.haml
%h1 All Events

= form_tag events_path, :method => :get, :id => 'date_range_form' do
  %input{type: "date", required: true, name: "start"}
  %input{type: "date", required: true, name: "end"}
  = submit_tag 'Filter'

= form_tag events_path, :method => :get, :id => "sort_form" do
  Include:
  - @all_options.each do |option|
    = option
    = check_box_tag "#{option}"
  = submit_tag 'Sort', :id => "options_submit"

%table#events
  %thead
    %tr
      %th Event Title
      %th Date
      %th More Info
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to "#{event.name}", event_path(event)
        %td= event.date
        
    = link_to 'Create new event', new_event_path                 


