%h1 Create New Event

= form_tag events_path do

  = label :event, :name, 'Event Title'
  = text_field :event, 'title'

  = label :event, :date, 'Event Date'
  = date_select :event, :event_date

  = label :event, :description, 'Event Description'
  = text_field :event, 'description'
  
  = label :event, :ingredients, 'Ingredients/Recipe'
  = text_field :event, 'ingredients/recipe'

  = submit_tag 'Save'
