-# in app/views/events/show.html.haml

%h2= @event.name

%ul#details
  %li
    Date:
    = @event.date.strftime("%d-%b-%Y")
  %li
    Ingredients:
    = @event.ingredients
  %li
    MinPartySize:
    = @event.minPartySize
  %li
    CurrentPartySize:
    = @event.curPartySize
  %li
    MaxPartySize:
    = @event.maxPartySize
  %li
    Location:
    = @event.location
  %li
    Recipe:
    = @event.recipes
  %li
    =image_tag @event.image
  %li
    Ethnicity:
    = @event.ethnicity
  %li
    Dietary Restrictions:
    = @event.dietary_restrictions
  %li
    Category:
    = @event.category
    
  

%h3 Description:

%p#description= @event.description

= link_to 'Edit', edit_event_path(@event)
-#= link_to 'Find Movies With Same Director', find_same_director_movie_path(@movie)
= button_to 'Cancel Event', event_path(@event), :method => :delete 
-#                                    (save for future), data: {:confirm => 'Are you sure?'}
= link_to 'Back to Home', events_path
