-# in app/views/events/show.html.haml

%h2= @event.name

%ul#details
  %li
    Date:
    = @event.date.strftime("%d-%b-%Y")
  %li
    Ingredients:
    = @event.ingredients
  %li
    MinPartySize:
    = @event.minPartySize
  %li
    CurrentPartySize:
    = @event.curPartySize
  %li
    MaxPartySize:
    = @event.maxPartySize
  %li
    Location:
    = @event.location
  %li
    Recipe:
    = @event.recipes
  %li
    =image_tag @event.image
  %li
    Ethnicity:
    = @event.ethnicity
  %li
    Dietary Restrictions:
    = @event.dietary_restrictions
  %li
    Category:
    = @event.category
    
  

%h3 Description:

%p#description= @event.description

%p{:class => @attend_class}= link_to @attend_text, event_attendees_path(@event), :method => :POST, :id => 'attend_link'

%p{:class => @nevermind_class}= link_to @nevermind_text, event_attendee_path(@event, @attendee), :method => :DELETE, :id => 'nevermind_link'

%table#attendees
  %thead
    %tr
      %th Attendees:
  %tbody
    - @event.users.each do |user|
      %tr
        %td= user.name

-if isOwner
  = link_to 'Edit', edit_event_path(@event)

-#= link_to 'Find Movies With Same Director', find_same_director_movie_path(@movie)
= button_to 'Cancel Event', event_path(@event), :method => :delete 
-#                                    (save for future), data: {:confirm => 'Are you sure?'}
= link_to 'Back to Home', events_path
